@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
  letter-spacing: 3px;
}

* {
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: "04b03";
}

h1 {
  font-family: "Nokia FC 22";
  vertical-align: text-top;
  color: #5c4033;
  background-clip: text;
  text-shadow: 1px 1px 2px sandybrown;
}

.carousel-image {
  border-radius: 15px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgb(123, 63, 0);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-image {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.carousel-image.fade-out {
  opacity: 0;
}

.image-container {
  width: 900px;
  height: 600px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
  margin: 10px;
  border-radius: 15px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgb(123, 63, 0);
}


.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Ensure the video is behind all other content */
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-right: 5%;
  margin-left: 5%;
}

.page-title {
  text-align: center;
}

.btn {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  z-index: 10;
  cursor: pointer;
  background-color: #fff;
  font-size: 18px;
  text-align: center;
  line-height: 35px;
  top: 50%;
  transform: translateY(-50%);
}

.btn-prev {
  top: 50%;
  left: 5%;
  padding: 5px;
}

.btn-next {
  top: 50%;
  right: 5%;
  padding: 5px;
}

.tooltip {
  color: #f4f4f5;
  padding: 8px;
  text-shadow: 1px 1px 2px sandybrown;
}

@media (max-width: 900px) {
  .image-container {
    width: 95%;
    height: auto;
    margin: 10px;
    border-radius: 15px;
    border: 1px solid #ccc;
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
      0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
      0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
  #pagetitle {
    font-size: 24px !important;
  }

  .background-video {
    object-fit: cover;
  }
  
  .h1-retro {
    font-family: "OverdriveAvenue";
    vertical-align: text-top;
    background-clip: text;
    font-size: 20px;
  }
}

.h1-retro {
  font-family: "OverdriveAvenue";
  vertical-align: text-top;
  background-clip: text;
  font-size: 30px;
}

@keyframes rainbow_animation {
  100% {
    background-position: 0 -200%;
  }
}

@keyframes rainbow_animation_b {
  100% {
    background-position: 0 200%;
  }
}

.nnn {
  --color1: #f2e4d1;
  --color2: #bb2528;
  animation: rainbow_animation 2s linear infinite;
  background: linear-gradient(
      red,
      #ff9a00 10%,
      #d0de21 20%,
      #4fdc4a 30%,
      #3fdad8 40%,
      #2fc9e2 50%,
      #1c7fee 60%,
      #5f15f2 70%,
      #ba0cf8 80%,
      #fb07d9 90%,
      red
    )
    0 0/100% 200%;
  background-clip: text;
  color: transparent;
  font-size: 45px;
  text-shadow: #ffcc0069 1px 0 9px;
}

.nnn-button {
  --color1: #f2e4d1;
  --color2: #bb2528;
  animation: rainbow_animation_b 2s linear infinite;
  background: linear-gradient(
      red,
      #ff9a00 10%,
      #d0de21 20%,
      #4fdc4a 30%,
      #3fdad8 40%,
      #2fc9e2 50%,
      #1c7fee 60%,
      #5f15f2 70%,
      #ba0cf8 80%,
      #fb07d9 90%,
      red
    )
    0 0/100% 200%;
  border-color: transparent transparent;
  color: #fff;
  border-radius: 10px;
  padding: 5px;
  font-size: 15px;
} 