* {
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
  background-color: #ffdead;
  margin-left: 2%;
  margin-right: 2%;
  font-family: "04b03";
  letter-spacing: 3px;
}
h1 {
  font-family: "Nokia";
  vertical-align: text-top;
  background: #5c4033;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.rot {
  transform: rotate(360deg);
  transition: all 3s ease;
}
.nn {
  font-size: 45px;
  --color1: #f2e4d1;
  --color2: #bb2528;
  background: linear-gradient(
      rgba(255, 0, 0, 1) 0%,
      rgba(255, 154, 0, 1) 10%,
      rgba(208, 222, 33, 1) 20%,
      rgba(79, 220, 74, 1) 30%,
      rgba(63, 218, 216, 1) 40%,
      rgba(47, 201, 226, 1) 50%,
      rgba(28, 127, 238, 1) 60%,
      rgba(95, 21, 242, 1) 70%,
      rgba(186, 12, 248, 1) 80%,
      rgba(251, 7, 217, 1) 90%,
      rgba(255, 0, 0, 1) 100%
    )
    0 0/100% 200%;
  animation: a 2s linear infinite;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
}
.slider {
  outline: 4px solid lightgray;
  width: 100%;
  max-width: 800px;
  height: 500px;
  position: relative;
  overflow: hidden;
  /* <=== */
  border-radius: 15px;
}
@keyframes a {
  to {
    background-position: 0 -200%;
  }
}
a {
  text-decoration: none;
  color: white;
}
.show {
  display: block !important;
}
.slide {
  width: 100%;
  max-width: 800px;
  height: 500px;
  position: absolute;
  transition: all 0.5s;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.btn {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  z-index: 10px;
  cursor: pointer;
  background-color: #fff;
  font-size: 18px;
  text-align: center;
}
.btn:active {
  transform: scale(1.1);
}
@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}
.btn-prev {
  top: 45%;
  left: 2%;
  padding: 5px;
}
.btn-next {
  top: 45%;
  right: 2%;
  padding: 5px;
}
.btn-refr {
  text-decoration: none;
  border: none;
  background-color: bisque;
  color: black;
  padding: 5px 10px;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
  display: none;
}
.btn-refr:hover,
.btn-container:hover {
  transform: scale3d(1.1, 1.1, 1.1);
  color: white;
  background-color: black;
}
.btn-container {
  background-image: linear-gradient(
    90deg,
    #00c0ff 0%,
    #ffcf00 49%,
    #fc4f4f 80%,
    #00c0ff 100%
  );
  /* position:fixed;*/
  top: 20px;
  left: 20px;
  width: max-content;
  height: 30px;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  transition-duration: all 0.5s ease-in-out;
}
.death {
  margin-right: 5px;
}
.musicOn {
  display: none;
}
.narc-bg {
  background-image: url("https://c.tenor.com/r8QaTDj3U6IAAAAi/nyan-cat-poptart-cat.gif");
  background-size: 100%;
}
@font-face {
  font-family: "Nokia";
  src: url(../fonts/nokiafc22.ttf) format("truetype");
}
@font-face {
  font-family: "04b03";
  src: url(../fonts/04b03.ttf) format("truetype");
}
@keyframes move {
  from {
    background-position: 0px;
  }
  to {
    background-position: 1000px;
  }
}
@media screen and (max-width: 500px) {
  .btn-container {
    width: 80%;
    height: auto;
    top: 20px;
    left: auto;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    word-wrap: normal;
    margin-bottom: 20px;
  }
  h1 {
    margin-top: 20px;
  }
  .nn {
    font-size: 2.1em;
  }
}
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.tooltip .tooltiptext {
  width: 150px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.links {
  line-height: 1.4;
}

.links {
  color: blue;
}

.links:focus,
a:hover {
  border-bottom: 1px solid;
}