* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display:flex;
	align-items:center;
  flex-direction:column;
  justify-content:center;
  row-gap:20px;
  background-color: #f9e4ff;
  margin-left: 2%;
  margin-right: 2%;
  font-family: '04b03';
  letter-spacing: 3px;

}

h1 {
    font-family: 'Peaberry';
    vertical-align: text-top;
	rgba(249, 228, 255, 0.5)
    text-align: center;
	color: #000000;
    }
    .rot{
      transform: rotate(360deg);
      transition: all 3s ease;
    }

    .nn{
      font-size: 55px;
      background:-webkit-linear-gradient(rgb(255, 0, 0), rgb(0, 26, 255));
      background:-moz-linear-gradient(rgb(255, 0, 0), rgb(0, 26, 255));
      background:-ms-linear-gradient(rgb(255, 0, 0), rgb(0, 26, 255));
      background:-o-linear-gradient(rgb(255, 0, 0), rgb(0, 26, 255));
      -webkit-background-clip: text;
      background-clip:text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color:transparent;
      -ms-text-fill-color:transparent;
      -o-text-fill-color:transparent;
      

    }
.slider {
  outline:4px solid lightgray;
  width: 100%;
  max-width: 800px;
  height: 500px;
  position: relative;
  overflow: hidden; /* <===  */
  border-radius: 15px;
}
a{
  text-decoration: none;
  color:white;
}
.show{
  display:block !important;
}

.slide {
  width: 100%;
  max-width: 800px;
  height: 500px;
  position: absolute;
  transition: all 0.5s;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  z-index: 10px;
  cursor: pointer;
  background-color: #fff;
  font-size: 18px;
  text-align: center;
}
.btn:active {
  transform: scale(1.1);
}
@keyframes slidebg {
  to {
    background-position:20vw;
  }
}
.btn-prev {
  top: 45%;
  left: 2%;
  padding:5px;
}

.btn-next {
  top: 45%;
  right: 2%;
  padding:5px;
  
}
.btn-refr{
  text-decoration: none;
  border:none;
  background-color:bisque;
  color:black;
  padding:5px 10px;
  border-radius:8px;
  transition:all 0.5s ease-in-out;
  display:none;
}
.btn-refr:hover,.btn-container:hover{
  transform: scale3d(1.1, 1.1, 1.1);
  color:white;
  background-color:black;
}
.btn-container{
  background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
  /* position:fixed; */
  top:20px;
  left:20px;
  width:max-content;
  height:30px;
  border-radius: 10px;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:0 10px;
  translation-diration: all 0.5s ease-in-out;
}

.death{
  margin-right: 5px;
}
.musicOn{
  display:none;
}
.narc-bg{
  background-color: #f9e4ff;
  background-image: url('https://c.tenor.com/r8QaTDj3U6IAAAAi/nyan-cat-poptart-cat.gif');
  background-size: 100%;
}
@font-face {
  font-family: 'Peaberry';
  src: url('Peaberry.ttf') format('truetype')
}
@font-face {
  font-family: '04b03';
  src: url('04b03.ttf') format('truetype')
}

@media screen and (max-width:500px)   {
  .btn-container{
    width: 80%;
    height: auto;
    top:20px;
    left:auto;
    
    display: flex;
    justify-content: center;
    word-wrap: normal;
    margin-bottom: 20px;
    
  }
  h1{
    margin-top: 20px;

  }
  .nn{
    font-size:2.1em;
  }
  
}
