/* Global Styles */
* {
  box-sizing: border-box;
  font-family: "04b03";
  padding: 0;
  text-align: center;
}

:root {
  background-color: white;
  color: rgba(255, 255, 255, 0.87);
  color-scheme: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}

/* Typography */
h1 {
  background-clip: text;
  color: #5c4033;
  font-family: "Nokia FC 22";
  font-size: 19px;
  margin-top: 64px;
  text-shadow: 1px 1px 2px sandybrown;
  vertical-align: text-top;
}

a {
  color: #646cff;
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

/* Image Carousel */
.image-carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

/*
.image-container {
  align-items: center;
  aspect-ratio: 16 / 9;
  border: 3px solid #382302;
  border-radius: 15px;
  box-shadow: 0 0 5px rgb(123, 63, 0);
  display: flex;
  height: auto;
  margin: 0 auto;
  max-width: 100%;
  overflow: hidden;
  padding: 10px;
  position: relative;
  width: 100%;
}
*/

.image-container {
  width: 100%;
  max-width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border: 3px solid #382302;
  border-radius: 15px;
  box-shadow: 0 0 5px rgb(123, 63, 0);
  position: relative;
}


.carousel-image {
  height: auto;
  object-fit: cover;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  width: 100%;
}

.carousel-image.fade-out {
  opacity: 0;
}

.loading {
  font-size: 1.5rem;
  text-align: center;
}

/* Carousel Buttons */
.carousel-button {
  cursor: pointer;
  font-size: 1rem;
  margin: 10px;
  padding: 5px 10px;
}

.carousel-button:hover {
  border-color: #646cff;
}

.carousel-button:focus,
.carousel-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.left-button,
.right-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
}
.left-button {
  left: 10px;
}

.right-button {
  right: 10px;
}

/* Toolbar */
.v-toolbar {
  background-color: #ffffff;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;
}

.v-toolbar-title {
  font-size: 1.5rem;
  margin: 0 auto;
  text-align: center;
}

/* Media Queries */
@media (max-width: 600px) {
  body {
    margin: 0;
    padding: 0;
    padding-top: 56px;
    row-gap: 10px;
  }

  h1 {
    font-size: 24px !important;
    margin-top: 56px;
  }

  .image-carousel {
    height: calc(100vh - 56px);
  }

  .image-container {
    border: none;
    height: auto;
    margin: 0 auto;
    padding: 0;
    width: 90vw;
  }

  .carousel-image {
    height: auto;
    object-fit: cover;
    width: 100%;
  }

  .left-button,
  .right-button {
    font-size: 14px;
    height: 30px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
  }

  .left-button {
    left: 5px;
  }

  .right-button {
    right: 5px;
  }

  .v-toolbar-title {
    font-size: 1.2rem;
  }

  .v-toolbar {
    padding-left: 10px;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
    color: #213547;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
