@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "04b03";
}
.home-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
}

h1 {
  font-family: "Nokia FC 22";
}

select,
input[type="color"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #c8102e;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  background-color: #ed1c24;
}

.save {
  background-color: #4caf50;
}
.save:hover {
  background-color: #45a049;
}
